Repository Dulce-Work-Schedule/Dulce-Work-Schedule.github.io, pull requests merged in 2018-06, with the labels that each got.

#7 Fix #1 refatorando visao
  assets/img/fishbone.png
  assets/img/fishbone.svg
  especificacao/visao.html
Labels: 0-Developers, 1-Especificação, 2-GitHub Pages, 3-Task, 4-Planejado, 5-Iniciante

#8 Fix #2 Finalizando organização do repositório
  README.md
  assets/img/dulceLogo/DulceHorizontal.svg
  assets/img/logos/Illustrator_logo.png
  assets/img/logos/aws.png
  assets/img/logos/fastlane.png
  assets/img/logos/ilustrator_logo.png
  assets/img/logos/invision_logo.gif
  assets/img/logos/js.png
  assets/img/logos/mocha.png
  assets/img/logos/photoshop_logo.png
  assets/img/logos/rancher.png
  assets/img/logos/seneca_logo.png
  viabilidade-tecnica/metricas_indicadores.html
Labels: 0-Scrum Master, 1-Viabilidade Técnica, 2-GitHub Pages, 3-Task, 4-Planejado

#16 Fix #5 GitHub pages
  VisualDulce/SideBar.gif
  VisualDulce/abono.gif
  VisualDulce/backup.svg
  VisualDulce/connection.svg
  VisualDulce/escala.gif
  VisualDulce/googleplay.png
  VisualDulce/googleplay.svg
  assets/img/Abono.gif
  assets/img/Inicial.gif
  especificacao/mapa_de_requisitos.html
  especificacao/prototipo.html
  especificacao/roadmap.html
  especificacao/visao.html
  index.html
Labels: 0-Developers, 1-Especificação, 2-Design, 2-GitHub Pages, 3-Task, 4-Planejado, 5-Iniciante
